*{
    margin: 0;
    padding: 0;

}

html, body{
    height: 100%;
}

body{
    
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: rgb(54,78,208);
    background: linear-gradient(167deg, rgba(54,78,208,1) 0%, rgba(43,58,142,1) 35%);
}

.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white; 
}
h1{
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2;
}

h2{
    font: 16px;
    margin-top: 0;
}

.profile{
    text-align: center;
    margin-top: 20px;
}
 .social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0 ;

 }

.social img{
    width: 33px;
}

.linkList{
    list-style: none;
}

.linkList li{
    margin: 10px 20px;
}

.linkList li a{
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color:rgb(54,78,208);
    font-weight: bold;
    box-shadow: 0 0 20px white;
}

.linkList li a span{
    color:grey;
    display: block;
    margin-bottom: 10px;
    
}


